<div class="row">
  <div class="col-md-12 col-xs-12">
    
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-flag pull-left"></i> Dashboard</h2>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <div class="col-md-12 col-xs-12" style="display: flex;justify-content:center;">
          <img class="animated-gif" [src]="logoSite" />
          <img class="animated-gif" [src]="logoSite" />
        </div>
      </div>

    </div>
  </div>
</div>
