<footer>

  <div class="footer-content">
    <h3>footer do caillou</h3>
    <p>Nada vai bater mais duro que a vida, você disse antes de ouvir meu som </p>
    <p>Yung buda 2022 </p>

    <div class="uls">
      
      <ul class="socials">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
  
      </ul>
    </div>


  </div>


</footer>