<footer>
  <div class="footer-content">

    <h3>csgolegends</h3>
    <p>Um projeto em parceria:</p>

    <div class="container">
      <div class="row justify-content">
          <i class="fa fa-github"></i>
          <p>@caiowcw & @guimariz</p>
      </div>
    </div>

    <div class="uls">
      <ul class="socials">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>

  </div>
</footer>