  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input type="search"
          class="search" name="" id=""
          placeholder="Search...">
          <i class="fa-solid fa-magnifying-glass"></i>

        </div>

      </div>
    </div>
    <div class="head-menu">
      <div class="head-menu-item">
        <button class="head-menu-item-btn ripple">
          <img [src]="countriesFlag" class="flag" alt="flag">
        </button>
      <div class="head-menu-item">
        <button class="head-menu-item-btn ripple">
          <i class="far fa-bell menu-icon"></i>
        </button>
      </div>
      <div class="head-menu-item">
        <button class="head-menu-item-btn ripple">
          <i class="far fa-comment-alt menu-icon"></i>
        </button>
      </div>
      </div>
    </div>
    <div class="head-user-avatar-container">
      <div class="head-user-avatar">
        <img [src]="iconUser" alt="user" class="user-avatar">
        <div class="circle-indicator pulse"></div>
      </div>
    </div>
  </div>

